#banner1 {
    
    height: 100vh;
    position: relative;
}

.mainContainer{
    text-align: center;
    padding: 0 20% 0 20%;
}
#scirle {
    position: absolute;
    width: 7rem;
    top:35%;
    left:24%;
    opacity: 0.8;
}

.btn-outline-success {
    border-radius: 20px;
    border-color: #6f42c1; 
    color: #6f42c1; 
  }

  .btn-outline-success:hover {
    background-color: #6f42c1; 
    color: white; 
  }

#bcirle {
    position: absolute;
    width: 10rem;
    top:35%;
    left:64%;
    opacity: 0.8;
}

#background {
    padding-top: 4.1%;
    z-index: 3;
    background-image: linear-gradient(to bottom right, #FCEDEB, #EDE9F8, #C6D6F9);
    height:60%;
}

.buttonContainer button{
    padding: 0.5em;
    margin: 1em;
    border-radius:20%;
}

#getStartedBtn{
    z-index: 3;
    color: white;
    border-radius: 20px;
    border-color: #6f42c1; 
    transition: background-color 0.3s, color 0.3s;
    background-color: #6f42c1;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

/* .getStartedBtn:hover {
    background-color: white;
    color: purple;
} */

#exploreBtn{
    z-index: 3;
    background-color: transparent;
    border-radius: 20px;
    border-color: #6f42c1; 
    color: #6f42c1; 
}

#exploreBtn:hover{
    border-radius: 20px;
    border-color: #6f42c1; 
    color: #6f42c1; 
    background-color: #6f42c1;
    color: white;
}

#sectionbg {
    z-index: 0;
    position: absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#banner2{
    /* height: 100vh; */
    position: relative;
    background-image: linear-gradient(to bottom right, #FDE5BE, #EDE9F8, #C6D6F9);
    /* display:flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;  
}

/* .contentContainer {
    margin: 2rem;
} */

/* How it works Page */
.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.workWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    position: relative;
}

#tablecirle {
    z-index: -10;
    position: absolute;
    opacity: 0.7;
    left:40%;
    top:35%;
    width: 20rem;
}

.workContent{
    background-color: white;
    width: 30rem;
}

.workContent {
    /* width: 20rem; */
}

.table {
    width: 30rem;
    background-color: white;
    margin: 0;
}
.barchart{
    width: auto;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #banner1 {
        height: 80vh;
    }

    #banner2 {
        height: 110vh;
    }
    #scirle {
        width: 5rem; 
    }

    #bcirle {
        width: 8rem; 
    }

    .buttonContainer button {
        padding: 0.3em; 
    }
    .table {
        width: auto;
        background-color: white;
        margin: 0;
    }
    .barchart{
        width: 10rem;
    }


    #sectionbg{
        width: 15rem;
    }

    .content{
        width: 6rem;
    }
    #tablecirle{
        width: 5rem;
    }
}

/* Media query for medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .buttonContainer button {
        padding: 0.3em; 
    }
    .table {
        width: auto;
        background-color: white;
        margin: 0;
    }

}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
    .buttonContainer button {
        padding: 0.5em; 
    }

}
