/* Default styles */
#banner1 {
    height: 100vh;
    position: relative;
}

#scirle {
    position: absolute;
    width: 7rem;
    top:35%;
    left:24%;
    opacity: 0.8;
}

#bcirle {
    position: absolute;
    width: 10rem;
    top:35%;
    left:64%;
    opacity: 0.8;
}

#background {
    background-image: linear-gradient(to bottom right, #FCEDEB, #EDE9F8, #C6D6F9);
    height:60%;
}

.buttonContainer button{
    padding: 0.5em;
    margin: 1em;
    border-radius:20%;
}

#getStartedBtn{
    color: white;
    background-color: purple;
    border:purple;
    transition: background-color 0.3s, color 0.3s;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.getStartedBtn:hover {
    background-color: white;
    color: purple;
}

#exploreBtn{
    background-color: transparent;
    color: purple;
    border-color: purple;
}

#exploreBtn:hover{
    background-color: purple;
    color: white;
}

#sectionbg {
    position: absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#banner2{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom right, #FDE5BE, #EDE9F8, #C6D6F9);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

.contentContainer {
    margin: 4rem;
}

/* How it works Page */
.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.workWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    position: relative;
}

#tablecirle {
    z-index: -10;
    position: absolute;
    opacity: 0.7;
    left:40%;
    top:35%;
    width: 20rem;
}

.workContent{
    background-color: white;
    width: 30rem;
}

.workContent {
    /* width: 20rem; */
}

.table {
    width: 30rem;
    background-color: white;
    margin: 0;
}
.barchart{
    width: auto;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #banner1 {
        height: 80vh;
    }

    #banner2 {
        height: 110vh;
    }
    #scirle {
        width: 5rem; /* Adjust circle size for smaller screens */
    }

    #bcirle {
        width: 8rem; /* Adjust circle size for smaller screens */
    }

    .buttonContainer button {
        padding: 0.3em; /* Reduce padding for buttons */
    }
    .table {
        width: auto;
        background-color: white;
        margin: 0;
    }
    .barchart{
        width: 10rem;
    }


    #sectionbg{
        width: 15rem;
    }

    .content{
        width: 6rem;
    }
    #tablecirle{
        width: 5rem;
    }
}

/* Media query for medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .buttonContainer button {
        padding: 0.3em; /* Reduce padding for buttons */
    }
    .table {
        width: auto;
        background-color: white;
        margin: 0;
    }

}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
    .buttonContainer button {
        padding: 0.5em; /* Restore default padding for buttons */
    }

    /* Other styles for larger screens... */
}
