.cardContainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: block;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
    text-align: left;

}


@media screen and (max-width: 768px) {
    .cardContainer {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}